@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container {
    max-width: 1440px;
    padding: 30px 0 20px 0;
    margin: 0 auto;
}

.header {
    background: url(img/background.webp) center center / cover no-repeat;
    height: 840px;
}

.ourHeader {
    background: url(img/background.webp) center center / cover no-repeat;
    height: 270px;
}

.forHeader {
    background: url(img/background.webp) center center / cover no-repeat;
    height: 270px;
}

.heroHide {
    display: none;
}

.our {
    background: url(img/human-bg-gor.jpg) center center / cover no-repeat;
}

.white-logo {
    background: url(img/white-logo.svg) center center no-repeat;
    display: inline-block;
    width: 35px;
    height: 35px;
}

.card__img {
    height: 180px;
}

.aboutBeans {
    display: none;
}

.aboutDisplay {
    display: flex;
}

.aboutImg {
    height: 358px;
}

.aboutHide {
    display: none;
}

.aboutSpan {
    width: 394px;
    display: block;
}

.aboutSpanB {
    display: block;
}

.aboutSpanHide {
    display: none;
}

.aboutCoffeeHide {
    display: none;
}

.aboutCoffee {
    width: 420px;
    display: block;
    text-align: start;
}
